
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "BBH Bogle", sans-serif;
}
body{
    background-color: white;
}
header{
    padding: 20px 8%;
}
section{
    padding: 70px 8%;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.logo{
    font-weight: bold;
    font-size: 20px;
}
.logo-div{
  width: 30%;

}
.logo span{
  color: blue;
}
ul{
  display: flex;
  justify-content: center;
  width: 40%;
  list-style: none;
}
ul li{
    padding: 10px 25px;
}
ul li a{
    text-decoration: none;
    color:#999;
    transition: 0.5s;
    font-size: 14px;
}
ul li a:hover{
  background-color: blue;
  padding: 15px;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}
.btn-header{
    width: 30%;
    display: flex;
    justify-content: end;
}
.btn{
  color: #000;
  background-color: blue;
  border:2px solid blue;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 30px rgb(0,0,0,0.1);
  transition: 0.5s;
}
.btn:hover{
    background-color: white;
    transform: rotate(5deg);
}
.btn i{
    margin-right: 5px;
}
.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.home-section .left{
    position: relative;
    height: 500px;
    width: 600px;
}
.home-section .left img{
    position: absolute;
    object-fit: cover;
    border: 8px solid white;
    box-shadow: 5px 5px 30px rgb(0,0,0,0.1);
    border-radius: 2rem;
}
.home-section .left-image-1{
    width: 450px;
    height: 450px;
    transition: 0.5s;
}
.home-section .left-image-2{
    width: 350px;
    height: 350px;
    transition: 0.5s;
    top:150px ;
    left: 250px;
}
.home-section .left-image-1:hover{
    transform: scale(1.1) rotate(10deg);
}
.home-section .left-image-2:hover{
    transform: scale(1.1) rotate(-10deg);
}
.right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right .text-right{
    color: blue;
    font-weight:bold ;
}
.right h1{
    margin: 20px;
    font-size: 35px;
    font-weight:bold ;
    line-height: 50px;
}
.right p{
    margin-bottom: 20px;
    color: #999;
    font-size: 15px;
    width: 70%;
}
.see-video{
    border: 0;
    display: block;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}
.buttoms{
    display: flex;
    align-items: center;
}
.see-video span{
  margin-left: 25px;
  font-weight: bold;
}
.video-bg{
    margin-left: 20px;
    background-image: url(josh-berquist-_4sWbzH5fp8-unsplash.jpg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 30px rgb(0,0,0,0.1);
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgb(0,0,0,0.1);
    right: -20px;
    transform: translate(-20%,50%);
}
.play-btn i{
   color: red;
}
.desc-buttom{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.desc-buttom .buttons button{
    background-color: blue;
    border: 0;
    cursor: pointer;
    border: 2px solid blue ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;
    justify-content: center;
    align-items: center;

    color: #000;
}
.desc-buttom .buttons button:hover{
    background-color: white;
    transform: rotate(10deg);
}
.second{
    margin-left: 20px; 

}
.desc-buttom .buttons button i{
    font-size: 25px;
   
}
.location .small-desc{
    color: #999;
    width: 60%;
    font-size: 14px;
}

.location .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1%; 
    justify-content: space-between;
}

.location .gallery .image {
    width: 24%;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    box-sizing: border-box; 
}

.location .gallery .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem; 
    transition: 0.5s;
}
.location .gallery .description {
   transform: translateY(350px);
   background-color: white;
   padding: 20px;
   transition: 0.5s;
}
.location .gallery .description h1{
   font-size: 16px;
   margin-bottom: 10px;
}
.location .gallery .description p{
 font-size: 16px;
 color: #999;
}
.location .gallery .image:hover .description {
    transform: translateY(-120px);
}
.location .gallery .image:hover img{
    transform: translateY(-120px);
}
.best-model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-list{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.box-list .box{
   width: 33.32%;
   height: 400px; 
   position: relative;
   border-radius: 1rem;
   overflow: hidden;
   box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}
.box-list .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.box-list .box:hover img{
  transform: scale(2);
}
.box-list .box .description{
  position:absolute;
  bottom: 0;
  background-color: white;
  padding: 20px;
  width: 100%;
  transition: 0.5s;
}
.box-list .box .description h2{
 font-size: 16px;
 font-weight: 500;
}
.rating{
    color: #dca930;
    margin-top:  5px;
    font-weight: bold;
}
.box-list .box .description .button-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-list .box .description .button-description span{
   font-size: 15px;
}
.box-list .box .description .button-description button{
   padding: 10px 20px;
   background-color: transparent;
   border: 1px solid blue;
   color: blue;
   border-radius : 20px; 
   transition: 0.5s;
}
.box-list .box .description .button-description button:hover{
 background-color: blue;
 color: #000;
}
.best-model .title{
    text-align: center;
    font-size: 30px;
}
.best-model .small-desc{
    text-align: center;
    font-size: 14px;
    margin: 30px;
    color: #999;
}
.view-all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.email-reservation h1{
    margin-bottom: 20px;
}
.email-reservation p{
   font-size: 14px;
   color: #999;
}
.together{
    display: flex;
    justify-content: space-between;
}
.email-reservation .together .text{
    width: 500px;
}
.input{
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    height: fit-content;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.input input{
   border: 0;
   padding: 12px;
   padding-left: 20px;
   width: 400px;
   outline: none;
}
footer{
    background-color :#f1f1f1; ;
    border-radius: 60px 60px 0 0;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer .right-footer{
    color: #999;
    font-size: 14px;
}
footer .right-footer span{
   color: blue;
}